.git
# -------------------------------------------------------------------------------- #

__pycache__/
*.pyc
.ipynb_checkpoints/

.pylintrc

.vscode/
jupyter/
docs/_build/

app

datasets/data/**/*.gz
datasets/data/**/*.csv
datasets/data/**/*.npy
datasets/data/**/*.npz