__pycache__/
*.pyc
.ipynb_checkpoints/

.pylintrc

.vscode/
jupyter/
docs/_build/

app/wd
app/config.json

tmp/

datasets/data/**/*.gz
datasets/data/**/*.csv
datasets/data/**/*.npy
datasets/data/**/*.npz

results/
experiments/output
experiments/cache

.flake8

_NOTE.txt
